* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden;
  
  font-family: 'DM Sans', sans-serif;
}


/*---- GERAL -----*/
body {
  display: block;
  max-width: 1265px;

  background-color: #ffffff;
}

.container{
  max-width: 1000px;
  background-color: aliceblue;
}

h1{
  overflow: hidden;
}

form{
 margin-left: 10rem;
 margin-top: 10rem;
}